<section class='card my-3 mx-auto post-card'>
	<h2 class='card-header fw-bold'>{{title}}</h2>
	<div class='card-body'>
		<div class='card-subtitle mb-2 text-muted'>Created:
			{{format_date createdAt}}</div>
	</div>
	<a href='/post/{{id}}/edit' class='stretched-link'></a>
</section>