{{#if posts.length}}
	<section id='post-list'>
		{{#each posts}}
			{{> post-summary}}
		{{/each}}
	</section>
{{/if}}

<button id='new-post'>+ New Post</button>
<script src='./js/dashboard.js'></script>