<div class="container">
	<div class="col text-center">
		<button class='btn btn-primary' id='new-post'>+ New Post</button>
	</div>
</div>

{{#if posts.length}}
	<section id='post-list'>
		{{#each posts}}
			{{> dashboard-post}}
		{{/each}}
	</section>
{{/if}}

<script src='./js/dashboard.js'></script>