<section class='container'>
	<div class='row row-cols-2'>
		<div class='col'>
			<div class='card my-3 mx-auto login-card'>
				<h2 class='card-header fw-bold'>Login</h2>
				<div class='card-body'>
					<form class='form login-form'>
						<div class='mb-3'>
							<label class='fw-bold' for='username-login'>Username</label>
							<input class='form-control' type='text' id='username-login' />
						</div>
						<div class='mb-3'>
							<label class='fw-bold' for='password-login'>Password</label>
							<input class='form-control' type='password' id='password-login' />
						</div>
						<button class='btn btn-secondary' type='submit'>Login</button>
					</form>
				</div>
			</div>
		</div>
		<div class='col'>
			<div class='card my-3 mx-auto signup-card'>
				<h2 class='card-header fw-bold'>Signup</h2>
				<div class='card-body'>
					<form class='form signup-form'>
						<div class='mb-3'>
							<label class='fw-bold' for='username-signup'>Username</label>
							<input class='form-control' type='text' id='username-signup' />
						</div>
						<div class='mb-3'>
							<label class='fw-bold' for='password-signup'>Password</label>
							<input
								class='form-control'
								type='password'
								id='password-signup'
							/>
						</div>
						<div class='mb-3'>
							<button class='btn btn-secondary' type='submit'>Signup</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<script src='./js/login.js'></script>